*.pyc
*.pyd
*.pyo
*.pdb
*.swp
*.log
*.*~
*.py_
*.bak
.sconsign.*
*.dll
*.lib
*.manifest
ghostdriver.log
lextab.py
yacctab.py

/.direnv/
/.cache/
/.ensorc
/.importanizerc
/.project
/.pydevproject
/.settings
/dependencies/
/derby.log
/dist/
/env/
/build/
/virtualenv*
/python*
/pypy*
/scripts/scons
/enso/_version_local.py
/run_enso.build/
/enso.bin
/venv/
